.main {
  width: min(90%, 114rem);
  padding: var(--spacing-6) var(--spacing-4);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions {
  margin-top: var(--spacing-8);
}

.routes {
  display: flex;
  justify-content: space-around;
  gap: 60px;
  margin: 20px;
  color: white;
  font-size: 16px;
  background-color: dimgrey;
  padding: 10px;
  border-radius: 10px;
  width: 615px;
}
